.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: chocolate;
}

.item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    cursor: pointer;
}

.item-container {
    margin-left: 50px;
}